{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <p>Hej där här är en test</p>
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
