html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  background-image: url('../../../image/bg-paper.png');
  display: flex;
  flex-direction: column;
}


.main {
  background-color: $main-background-color;
  flex: 1 0 auto;
  width: 64em;
  margin: 1.96rem auto;
  border: 5px solid $border-color;
  padding: 1em;
}

