.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  max-height: 20%;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  a {
    text-decoration: none;
  }

  h1 {
    color: $font-color;
  }
}

h1 {
  color: $font-color;
}

.nav ul a {
  text-decoration: none;
  font-size: 1.4em;
  color: $header-title-color;
  font-weight: bolder;
}

.nav a:hover {
  text-decoration: none;
  color: $font-alternative-color;
}
