img {
  display: block;
  border: 1px solid $font-alternative-color;
}

.profilbild {
  border-radius: 50%;
  width: 300px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  display: block;
}

.logo img {
  border: 0;
}
