$main-background-color: #272727;
$font-color: #ededf0;
$font-alternative-color: #caa78d;
$accent-color: #333;
$background-color: #272727;
$background-alternative-color: #e0fbfc;
$footer-color: #2a2a2a;
$header-title-color: #caa78d;
$header-color: #333;
$border-color: #111;

$magic-number: 1.96rem;
