body {
    line-height: 1.4em;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
}

p {
    font-weight: normal;
    color: $font-color;
    font-size: 1.4em;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.4;
    margin-bottom: 1.96rem;
    letter-spacing: 1px;
}