/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: $footer-background-color;
    color: $footer-text-color;
}

.footer a {
    color: $footer-link-color;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}
