/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.logo>a>img {
    width: 256px;
    max-width: 256px;
}

.title p {
    font-style: italic;
}

@media (max-width: 767px) {
    .title {
        padding: 1em 1em 1em 0;
    }
    
    .title {
        min-width: 50%;
    }

    .logo {
        display: none !important;
    }
}
