body {
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    font-weight: 350;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: $font-color;
    text-decoration: none;
}

.nav a,
.nav-toggle {
    color: $font-color;
}

html {
    font-size: 100%;
}

body {
    line-height: $main-line-height;
}

p {
    font-size: $main-font-size;
    margin-bottom: $magic-number;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
