$font-color: #333;
$background-color: #fff;

$footer-background-color: #c3a098;
$footer-text-color: #f7f7f7;

$arrow-bg-color: #f6c58c;
$arrow-color: #fff;

/* Vertical Rythm */
$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

/*hover link color*/
$hover-link-color: #f7a1e9;
$hover-link-bg-color: #b2e802;
