$font-color: #9d8189;
$background-color: #fff;


$footer-background-color: #f4acb7;
$footer-text-color: #fff;
$footer-link-color: #9d8189;

/* Technologies arrow colors */
$arrow-bg-color: #f4acb7;
$arrow-color: #fff;

/* Tech Box colors */
$box-color: #ffcad4;
$box-shadow-color: 12px 12px 2px 1px #9d8189;

/* Hover link color*/
$hover-link-color: #d8e2dc;
$hover-link-bg-color: #9d8189;

/* Vertical Rythm */
$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
