$font-color: #f8f8ff;
$background-color: #272727;


$footer-background-color: #474747;
$footer-text-color: #f8f8ff;
$footer-link-color: #f8f8ff;

/* Technologies arrow colors */
$arrow-bg-color: #de83d0;
$arrow-color: #f8f8ff;

/* Tech Box colors */
$box-color: #474747;

/* Hover link color*/
$hover-link-color: #f7a1e9;
$hover-link-bg-color: #fa849a;

/* Vertical Rythm */
$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

/* Fonts */
