.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $footer-color;
  color: $font-alternative-color;
}

.social { 
  a {
    text-decoration: none;
    font-size: 3rem;
    color: $font-alternative-color;
  }
} 

.footer p {
  color: $font-alternative-color;
}

