.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 182, 133);
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  a {
    text-decoration: none;
  }

  h1 {
    color: $header-title-color;
  }
}
