$main-background-color: #fff;
$font-color: #333;
$font-alternative-color: #c9c7c7;
$accent-color: #937e73;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$footer-color: #7e5b41;
$header-title-color: #6e4323;
$header-color: #caa78d;


$magic-number: 1.96rem;
