.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #f8f8ff;
}

.nav-toggle {
    display: none;
}

@media (max-width: 1110px) {
    .main {
        padding: 0%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .technology .article {
        width: 100%;
    }

    .technology .menu {
        display: none;
    }
    .landing-page {
        gap: 0;
        grid-template-areas: 
        "title title title"
        "css css css"
        "html html html"
        "javascript javascript javascript"
        "php php php"
        "python python python"
        "git git git"
        "sqlite sqlite sqlite";
      }
    
      .analysis-container {
        gap: 0;
        grid-template-areas: 
        "title title title"
        "colors colors colors"
        "load load load"
        "design design design"
      }
}

@media (max-width: 770px) {
    .header {
        flex-direction: column;
    }

    .nav .hidden {
        display: none;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }


    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
